@import url('/src/components/header/style.css');
@import url('/src/components/footer/style.css');
@import url('/src/components/view-nav-button/view-nav-button.css');
@import url('/src/components/view-carousel/view-carousel.css');
@import url('/src/components/tab/style.css');
@import url('/src/components/recommended-place-list-item/style.css');
@import url('/src/components/landmark-list-item/style.css');
@import url('/src/components/view-more-button/style.css');

body {
  background-color: #f9f9f9;
}

.sub_body {
  max-width: 420px;
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.01);
}

.page_container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  .view_info_description {
    margin-bottom: 30px;
  }
}

.header_logo_container {
  height: 200px;
}

.tabs {
  margin-block-end: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.landmark_list_item_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.view_more_button_container {
  margin: 30px 0 70px 0;
}

.view_nav_btn {
  position: relative;
  width: fit-content;
  margin: -20px auto 40px;
}
.footer {
  margin-top: auto;
}
