<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>Go7</title>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="stylesheet" href="/src/components/landmark-list-item/style.css" />
  </head>
  <body>
    <div class="landmark_list_item_wrapper">
      <div class="photo_container">
        <img class="photo" src="/src/components/landmark-list-item/photo.png" alt="여행지" />
      </div>
      <div class="landmark_list_item_contents">
        <a class="landmark_link" href="/"><h2 class="landmark_name">남산타워</h2></a>
        <p class="landmark_description">관광지 설명을 적어주세요. 관광지 설명을 적어주세요. 관광지 설명을 적어주세요. 관광지 설명을 적어주세요. 관광지 설명을 적어주세요.</p>
      </div>
    </div>
  </body>
</html>
