<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>Go7</title>
    <link rel="icon" href="/images/favicon.ico" />
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/src/components/view-nav-button/view-nav-button.css" />
    <style>
      /* 컴포넌트 확인용 스타일링 */
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100svh;
      }
    </style>
  </head>
  <body>
    <ul class="view_nav_btn">
      <li><a href="/">홈으로</a></li>
      <li><a href="#">뒤로가기</a></li>
    </ul>
  </body>
</html>
