<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>Go7</title>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="stylesheet" href="/src/components/view-more-button/style.css" />
  </head>
  <body>
    <div class="view_more_button_container">
      <button class="view_more_button" type="button"><span>+</span>더보기</button>
    </div>
  </body>
</html>
