body {
  background-color: #f9f9f9;
}

.sub_body {
  max-width: var(--web_max_witdh);
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.01);
}

.page_container {
  position: relative;
  width: 100%;
  padding: 0 var(--web_page_spacing);
  margin: 0 auto;

  .view_info_description {
    margin-bottom: 30px;
  }
}
