<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>header</title>
    <link rel="icon" href="/images/favicon.ico" />
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/src/components/header/style.css" />
  </head>
  <body>
    <div class="header_logo_container">
      <!-- 동심원들 -->
      <div class="circle circle_1"></div>
      <div class="circle circle_2"></div>
      <div class="circle circle_3"></div>
      <div class="circle circle_4"></div>
      <!-- 로고 텍스트 -->
      <div class="header_logo_text">Go7</div>
    </div>
  </body>
</html>
