<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>Go7</title>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="stylesheet" href="/src/components/tab/style.css" />
  </head>
  <body>
    <div class="tabs_container">
      <div class="tabs">
        <button type="button" class="tab is_selected">tab 1</button>
        <button type="button" class="tab">tab 2</button>
        <button type="button" class="tab">tab 3</button>
      </div>
      <div class="contents">
        <section class="tab_content is_selected">content 1</section>
        <section class="tab_content">content 2</section>
        <section class="tab_content">content 3</section>
      </div>
    </div>
  </body>
</html>
