@import url('/src/style.css');

.footer {
  background-color: #f4f4f4;
  width: 360px;
  height: 48px;
  border-radius: 0 0 var(--rounded_lg) var(--rounded_lg);
}

.footer_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
  font-family: pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  font-size: var(--font_base);
  font-weight: lighter;
  color: var(--color_gray);
  text-align: center;
}
