@import url(/src/components/header/style.css);
@import url(/src/components/footer/style.css);
@import url(/src/components/search-bar/search-bar.css);
@import url(/src/components/search-list/search-list.css);
@import url(/src/components/view-more-button/style.css);

.hidden {
  display: none !important;
}
body {
  min-height: 100vh;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
}

.search_result_container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 70px;
  padding: 0 24px;
  padding-bottom: 80px;
}

.view_more_button_container {
  width: 100%;
  margin: 20px 0;
}
