<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Go7! 여행 추천지 검색 웹사이트 입니다." />
    <title>Go7</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/src/components/search-list/search-list.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="search_list_container">
      <div class="search_list_title">총 n개의 도시 검색 결과</div>
      <div class="search_list">
        <div class="destination_card">
          <div class="card_image">
            <img src="/src/assets/travel-card-image.svg" alt="알래스카" />
          </div>
          <div class="card_content">
            <h3 class="card_title">알래스카</h3>
            <p class="card_subtitle">19개의 랜드마크</p>
          </div>
        </div>

        <div class="destination_card">
          <div class="card_image">
            <img src="/src/assets/travel-card-image.svg" alt="알래스카" />
          </div>
          <div class="card_content">
            <h3 class="card_title">알래스카</h3>
            <p class="card_subtitle">19개의 랜드마크</p>
          </div>
        </div>

        <div class="destination_card">
          <div class="card_image">
            <img src="/src/assets/travel-card-image.svg" alt="알래스카" />
          </div>
          <div class="card_content">
            <h3 class="card_title">알래스카</h3>
            <p class="card_subtitle">19개의 랜드마크</p>
          </div>
        </div>

        <div class="destination_card">
          <div class="card_image">
            <img src="/src/assets/travel-card-image.svg" alt="알래스카" />
          </div>
          <div class="card_content">
            <h3 class="card_title">알래스카</h3>
            <p class="card_subtitle">19개의 랜드마크</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
