.search_container {
  max-width: 312px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: var(--rounded_lg);
  position: absolute;
  top: 336px;
  z-index: 10;
  background-color: #fff;
}

.search_bar {
  width: auto;
  height: 48px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  flex: 1;
  min-width: 0;
  padding-left: 14px;
  border: 0;
  background: none;
  outline: none;
  font-size: var(--font_lg);
}

.search_button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 36px;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: var(--rounded_circle);
  background-color: var(--color_black);
}

.suggestions {
  position: static;
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: var(--font_lg);
}

.suggestions li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
}
